Automated Youtube Uploader.json
{
  "name": "Automatic Youtube Uploader",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3c33d2f7-0692-4d38-b383-d5027f62becf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "b323e74f-369e-48d9-8763-38cfb05bccb4",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80e89805-d120-4930-bd1d-1c6c23f543f7",
              "name": "File Name",
              "value": "={{ Array.from({ length: 10 }, () => Math.random().toString(36)[2]).join('') }}",
              "type": "string"
            },
            {
              "id": "7e902e83-5983-4bc1-a3d0-77ba7dd3fced",
              "name": "Folder Name",
              "value": "footer",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "1675c01b-8680-4045-ba6e-c0e50ed95972",
      "name": "Generate File Name"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0",
          "mode": "list",
          "cachedResultName": "Rare Photos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "video url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4a70b902-ec55-47c5-8087-6e99b8389db1",
      "name": "Get Youtube Videos"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "video url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Youtube Videos').item.json.row_number }}",
            "Internal Path": "=./{{ $('Generate File Name').item.json['Folder Name'] }}/{{ $('Generate File Name').item.json['File Name'] }}.mp4",
            "Status": "Success",
            "Uploaded": "No"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Operation",
              "displayName": "Operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Internal Path",
              "displayName": "Internal Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploaded",
              "displayName": "Uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "fd2c5243-370d-412e-a803-12b41f50ff5a",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/webm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "RAW/JSON",
        "body": "={\n  \"snippet\": {\n    \"title\": \"Rare Photos You Weren't Meant to see | Part {{ $json.row_number + 1 }}\",\n    \"description\": \"Welcome to our series on rare and fascinating historical photos. Don't forget to like and subscribe for upcoming parts!\",\n    \"defaultAudioLanguage\": \"en\",\n    \"tags\": [\n      \"Rare Photos\",\n      \"Historical Photos\",\n      \"Unseen Images\"\n      \n    ],\n    \"categoryId\": \"27\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"embeddable\": true,\n    \"license\": \"youtube\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        240
      ],
      "id": "17bccb13-b816-4bc5-b374-da69cc396c66",
      "name": "Create Youtube Link"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Get Generated Files').item.json['Internal Path'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "df623c68-ca7e-463f-bbb8-13fd980b5716",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "7d4ed11f-58a8-4490-8465-e5da3ff4cf11",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Create Youtube Link').item.json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/webm"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        240
      ],
      "id": "806b3d82-02c8-4852-9c52-c2bcaee65fd2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "video url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Success"
            },
            {
              "lookupColumn": "Uploaded",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        240
      ],
      "id": "d35e766a-891f-49e4-962f-78c3372736b6",
      "name": "Get Generated Files"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=rm  {{ $('Limit1').item.json['Internal Path'] }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1264,
        240
      ],
      "id": "b36b17a6-b5d5-4c7a-add2-e62d9760ba54",
      "name": "Delete Video"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "video url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lx1wAb1Wn-wgnQYOyAaBukKzs86JG0ev6wJo4T-a1V0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Generated Files').item.json.row_number }}",
            "Uploaded": "Yes"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video Path",
              "displayName": "Video Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Internal Path",
              "displayName": "Internal Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploaded",
              "displayName": "Uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        240
      ],
      "id": "b15bd534-ddbf-4ea9-bd9f-bb8c0862e1ab",
      "name": "Update Status"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=yt-dlp -o \"./{{ $('Generate File Name').item.json['Folder Name'] }}/{{ $('Generate File Name').item.json['File Name'] }}.mp4\" \"{{ $('Get Youtube Videos').item.json['Video Path'] }}\" -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "7297ab0e-b686-4983-867a-b231df50dbe4",
      "name": "Download Video"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Youtube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Generate File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate File Name": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Youtube Videos": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Youtube Link": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Create Youtube Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get Generated Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Generated Files": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Delete Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "258301d9-2ce9-4f14-a185-29111f4ac981",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3a4f8deea69233a45fd7db7f5ee935b9f4180bf294089629e09f746aff9f05b"
  },
  "id": "PpWCF6GyB0jGoTEm",
  "tags": []
}
